.features-list {
  .title {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-text-color;
  }

  .content {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
}

.features-list-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .features-list-item {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .features-list-item-link {
    display: flex;
    height: 120px;
    background-color: $secondary-white-color;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .features-list-item {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .features-list-item-link {
    display: flex;
    height: 120px;
    background-color: $secondary-white-color;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .features-list {
    .title {
      text-align: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
  .features-list-item {
    width: calc((100% - 30px) / 2);

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
}

@media screen and (max-width: 1199px) {
  .features-list-item {
    &:nth-child(4n) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .features-list-item {
    width: 270px;
  }

  .features-list-item-link {
    display: flex;
  }

  .features-list-item:not(:last-child) {
    margin-right: 30px;
  }

  .features-list-item:nth-child(4n) {
    margin-right: 0;
  }

  .features-list-item {
    margin-bottom: 30px;
  }
}
